*.pdf
*.csv
*__pycache__*
.vscode*
.Rproj.user
.Rhistory
*.o
PlackettLuceEDA
gradientSearch
*.png
!data/scoresA.csv
!data/scoresB.csv
!data/pleda_gradient/results/gradient_results.csv
!data/pleda_gradient/results/pleda_results.csv
!readmeAssets/*
!appendicesDoc.pdf